.app
  height: 100vh // fallback for browsers without custom properties
  height: calc(var(--vh, 1vh) * 100)

.app__banner
  height: 60px
  width: 100%

  background: #f0f0f0

.app__body
  display: flex
  align-items: center
  justify-content: center

  height: calc(100vh - 60px)
  height: calc(var(--vh, 1vh) * 100 - 60px)
  background: #000

  overflow: hidden

  img
    max-width: 33vw
    max-height: 33vh
    max-height: calc(var(--vh, 1vh) * 33)
