.app
  position: relative

  height: 100vh // fallback for browsers without custom properties
  height: calc(var(--vh, 1vh) * 100)

.app__banner
  position: absolute
  top: 0
  left: 0
  
  height: 60px
  width: 100%
  background-color: var(--color-base)

.app__body
  position: relative
  z-index: 1
  
  height: 100vh
  height: calc(var(--vh, 1vh) * 100)
