.app
  height: 100vh // fallback for browsers without custom properties
  height: calc(var(--vh, 1vh) * 100)

.app__banner
  height: 60px
  width: 100%

  background: #000

.app__body
  height: calc(100vh - 60px)
  height: calc(var(--vh, 1vh) * 100 - 60px)
  background: #000
